@model VideoViewModel

    <h5 class="team-member-title">@Model.title</h5>
    <a href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">
        <img src="@Model.PosterUrl" alt="@Model.title" class="img-responsive author-userpic center-block"><p></p>
    </a>
    <audio controls preload="none" title="@Model.title">
        <source src="@Model.AudioUrlToPlay" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>






