@model List<VideoViewModel>
@{
    var video = Model.OrderBy(v => v.Resolution).FirstOrDefault(v => v.AdaptiveKind == AdaptiveKind.Video.ToString());
}

<div style="border-bottom: 1px dashed #dadada;margin-bottom:10px; margin-top:10px">
    <div>
        @*<input type="checkbox" id="@video.Guid" class="k-checkbox" checked="checked">
            <label class="k-checkbox-label team-member-title" for="@video.Guid">@video.title</label>*@
        <div class="team-member-title">@video.title</div>
    </div>

    @{
        var guid = Guid.NewGuid().ToString();
    }

    <iframe id="ytplayer" type="text/html"
            src="https://www.youtube.com/embed/@(video.VideoId)?autoplay=0&origin=http://download-youtube.org"
            frameborder="0"></iframe>

    @*Ако няма target="_blank" то тогава не се свалят паралелно файловете, защото всеки следващ прекъсва предишния*@
    <div class="team-member-title">@Resource.DownloadAudioIn</div>
    <div>
        @{
            var audios = Model.Where(a => a.AdaptiveKind == AdaptiveKind.Audio.ToString()).ToList();
        }
        @foreach (var v in audios)
        {
            guid = Guid.NewGuid().ToString();
            @*<span class="hovercolor"><i class="pe-7s-star hovercolor" title="@Resource.Recommended"></i></span>*@
            <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
               href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid">
                @v.Format.ToLowerInvariant().ToLowerInvariant() &nbsp;
            </a>
            <i class="pe-7s-refresh pe-spin" style="display:none"></i>
            <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
            if (audios.IndexOf(v) == audios.Count - 1)
            {
                guid = Guid.NewGuid().ToString();
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=mp3">
                    mp3
                </a>
                guid = Guid.NewGuid().ToString();
                <i class="pe-7s-refresh pe-spin" style="display:none"></i>
                <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=aac">
                    aac
                </a>
                guid = Guid.NewGuid().ToString();
                <i class="pe-7s-refresh pe-spin" style="display:none"></i>
                <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=vorbis">
                    vorbis
                </a>
                guid = Guid.NewGuid().ToString();
                <i class="pe-7s-refresh pe-spin" style="display:none"></i>
                @*<div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=m4a">
                    m4a
                </a>

                <i class="pe-7s-refresh pe-spin" style="display:none"></i>*@
                guid = Guid.NewGuid().ToString();
                <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=opus">
                    opus
                </a>
                guid = Guid.NewGuid().ToString();
                <i class="pe-7s-refresh pe-spin" style="display:none"></i>
                <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
                <a target="_blank" data-guid="@guid" class="@(v.Format.ToLowerInvariant().Replace(".", string.Empty))"
                   href="/home/downloadaudio?format=@v.Format&formatcode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid&convertto=wav">
                    wav
                </a>
                <i class="pe-7s-refresh pe-spin" style="display:none"></i>
                <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
            }

        }
        
        
        
    </div>
    <div class="team-member-title">@Resource.DownloadVideoIn</div>
    <div>
        @{
            var videos = Model.Where(a => a.AdaptiveKind == AdaptiveKind.Video.ToString()).ToList();
        }

        @foreach (var v in videos)
        {
            guid = Guid.NewGuid().ToString();
            <a target="_blank" data-guid="@guid" title="@v.FormatCode"
                href="/home/downloadaudio?format=@v.Format&formatCode=@v.FormatCode&resolution=@v.Resolution&uri=@v.AudioUrlMp4&guid=@guid">
                @v.Format-@(v.Resolution + "p") &nbsp;
            </a>
            <i class="pe-7s-refresh pe-spin" style="display:none"></i>
            <div class="fileIsBeingProccessed" style="display:none"><i class="hovercolor fa faa-float animated faa-slow">@Resource.FileIsBeingProccessed</i></div>
        }
       
    </div>
</div>
<script>
    $("[data-guid]").unbind("click").click(function f(e) {

        var $a = $(this);
        var guid = $a.attr("data-guid");
        var href = $a.attr("href");
        //$a.append('<i class="fa-li fa fa-spinner fa-spin ' + guid + '"></i>');
        // Това показва popup-blocked
        var iToShow = $a.next("i");
        var fileIsBeingProccessed = $a.nextAll(".fileIsBeingProccessed").first();
        fileIsBeingProccessed.show();
        iToShow.show();
        $a.unbind("click").click(function f(e) {
            e.preventDefault();
        });



        window.dy.pubnubHelper.subscribe({
            channel: guid,
            message: function (dyMessageAsJson) {
                var dyMessage = JSON.parse(dyMessageAsJson);
                if (dyMessage.message == "done") {
                    window.dy.pubnubHelper.unsubscribe({
                        channel: dyMessage.guid,
                    });
                    var $a = $("a[data-guid=" + dyMessage.guid + "]");
                    var iToShow = $a.next("i");
                    var fileIsBeingProccessed = $a.nextAll(".fileIsBeingProccessed").first();

                    var url = "@(Constants.VmSiteOneForDownloadYouTubeStream)home/dav?guid=" + dyMessage.guid;
                    if ($("span." + dyMessage.guid).length == 0) {
                        var newGuid = new Date().getTime();
                        $('<a target="_blank" class="' + newGuid + '" href="' + url + '"><span class="' + dyMessage.guid + '"><i class="pe-7s-cloud-download hovercolor"></i></span></a>').insertAfter(iToShow);
                        // Променяме и на цъкнатия линк url-а за да не се натисне пак

                    }
                    $a.attr("href", url);
                    $a.unbind("click");
                    iToShow.hide();

                    fileIsBeingProccessed.hide();
                }
                else
                {
                    var $a = $("a[data-guid=" + dyMessage.guid + "]");
                    var fileIsBeingProccessed = $a.nextAll(".fileIsBeingProccessed").first();
                    fileIsBeingProccessed.html('<i class="hovercolor fa faa-float animated faa-slow">@(Resource.ProcessedPercentage) ' + dyMessage.percentage + '%</i>');
                }

            },
            error: function (error) {
                // Handle error here
                console.log(JSON.stringify(error));
            }
        });




        $.ajax({
            url: href + "&leftclick=true",
            success: function (g) {
            }
        }
        );

        e.preventDefault();

    });

</script>