@model VideoViewModel

<div>
    <input type="checkbox" id="@Model.Guid" class="k-checkbox" checked="checked">
    <label class="k-checkbox-label team-member-title" for="@Model.Guid">@Model.title</label>
</div>
@*<h5 class="team-member-title">@Model.title</h5>*@

@{
    var guid = Guid.NewGuid().ToString();
}

<iframe id="ytplayer" type="text/html"
        src="https://www.youtube.com/embed/@(Model.VideoId)?autoplay=0&origin=http://example.com"
        frameborder="0"></iframe>

<div>Download audio in:</div>
<div>
    <a target="_blank" href="/home/downloadaudio?type=mp4&uri=@Model.AudioUrlMp4">
        Mp4
    </a>
    |
    <a target="_blank" href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">
        WebM
    </a>
</div>

@*<video controls preload="none" id="@guid" poster="@Model.PosterUrl" title="@Model.title">
        <source src="@Model.AudioUrlToPlay">
        Your browser does not support the audio element.
    </video>*@

@*<script>$(function () { $('#@guid').audioPlayer(); });</script>*@





