@model VideoViewModel

@*Broken by Telerik when multiple on page https://github.com/telerik/kendo-ui-core/issues/2305*@
@*@(Html.Kendo().MediaPlayer()
            .Navigatable(true)
            .Media(m => m
                .Title(Model.title)
                .Source(Model.source)
            )

            .Name("mediaPlayer" + Guid.NewGuid().ToString())
            .HtmlAttributes(new { style = "height:360px; width:640px" })
            .Deferred()
)*@

@*<img src="@Model.PosterUrl" alt="@Model.title" />
<span>FileExtension: @Model.FileExtension</span> -
<span>Format: @Model.Format</span> - 
<span>AudioBitrate: @Model.AudioBitrate</span> -
<span>AudioFormat: @Model.AudioFormat</span> - 
<a href="/home/downloadaudio?type=mp4&uri=@Model.AudioUrlMp4">Download mp4</a>
<a href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">Download Vorbis</a>*@

<div class="col-md-3 col-xs-6 text-center">
    <div class="">
        <a href="/home/downloadaudio?type=mp4&uri=@Model.AudioUrlMp4">
            <img src="@Model.PosterUrl" alt="@Model.title" class="img-responsive author-userpic center-block"><p></p>
        </a>
            <h5 class="team-member-title">@Model.title</h5>
            @*<a href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">Download Vorbis</a>*@
</div>
</div>

<p></p>




