<div id="audio" class="pt-section" data-name="@Resource.Audio">
    <div class="container dark">
        <div class="text-center">
            <p><a href="javascript:void(0)" class="btn btn-lgr-str bg-color00" id="btnLoadExample1">@Resource.BtnExampleText1</a><a href="javascript:void(0)" class="btn btn-lgr-str bg-color00" id="btnLoadExample2">@Resource.BtnExampleText2</a></p>
            <textarea class="k-textbox bg-color00" id="tbUrls" style="width:95%;height:200px" placeholder="@Resource.TbUrlsPlaceholder"></textarea>
            <br />

            <p><a href="javascript:void(0)" class="btn btn-lgr-str bg-color00" id="btnLoadUrls">@Resource.BtnLoadUrlsMetadataText</a></p>


        </div>
        <p class="small text-center center-block  audioCompleted" style="display:none">
            <a href="javascript:void(0)" class="btn btn-lgr-str bg-color00" id="clearAudioFiles">@Resource.BtnClearText</a>
        </p>
        <div class="row audioFiles">
        </div>
    </div>
</div>
@section scripts {
    <script src="~/scripts/index.js"></script>
}


