<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>
    <title>@Resource.SiteTitle</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Fast and free download of YouTube audio and video files. Download in multiple formats without registration.">
    <meta name="google" content="notranslate" />
    <meta name="keywords" content="download, youtube, audio, video, converter, mp3, HD">
    <meta property="og:url" content="http://download-youtube.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Download YouTube audio and video files." />
    <meta property="og:description" content="Fast and free download of YouTube audio and video files. Download in multiple formats without registration." />
    <meta property="og:image" content="http://download-youtube.org/favicon.ico" />
    <link rel="canonical" href="http://download-youtube.org" />
    <link rel=icon href=favicon.ico sizes="16x16" type="image/png">
    <link href="~/assets/custom/css/preloader.css" rel="stylesheet" />
    <script>
        (function (doc) { var addEvent = 'addEventListener', type = 'gesturestart', qsa = 'querySelectorAll', scales = [1, 1], meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : []; function fix() { meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1]; doc.removeEventListener(type, fix, true); } if ((meta = meta[meta.length - 1]) && addEvent in doc) { fix(); scales = [.25, 1.6]; doc[addEvent](type, fix, true); } } (document));
    </script>
</head>
<body class="">
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        } (document, "script", "twitter-wjs"));</script>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/" + "@Thread.CurrentThread.CurrentCulture.Name.Replace("-","_")" + "/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>

    <div id="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <div class="menu-wrap mobmenu-john" style="display:none">
        <div class="dividewhite4"></div>
        <nav class="menu">
            <ul class="icon-list">

                <li class="menu-item"><a href="#header-wrapper-mp"><i class="fa fa-fw fa-star-o"></i><span>Home</span></a></li>
                <li class="menu-item"><a href="#audio"><i class="fa fa-fw fa-bell-o"></i><span>Audio</span></a></li>
                <li class="menu-item"><a href="#video"><i class="fa fa-fw fa-bell-o"></i><span>Video</span></a></li>

            </ul>


        </nav>
        <div class="close-button nav-icon2" id="close-button">
            <div></div>
        </div>
    </div>

    <div class="content-wrap bg-color14">
        <section id="Home" class="pt-section" data-name="@Resource.Home">
            <div class="container">
                <div class="text-center color--youtube">
                    <h1 class="font-regular-bold hovercolor"><a href="/" target="_self">Download YouTube</a></h1>
                </div>
            </div>
        </section>

        <style>
            #___plusone_0 { vertical-align: bottom; }
        </style>

        <section id="Social" class="pt-section" data-name="@Resource.FollowUs">
            <p class="text-center center-block">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="social-share col-sm-8">
                            <div class="fb-like"
                                 data-href="https://www.facebook.com/DownloadYouTubeOrg"
                                 data-colorscheme="light"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-size="small"
                                 data-show-faces="false"
                                 data-share="true">
                            </div>
                            <a class="twitter-follow-button" style="vertical-align:bottom"
                               href="https://twitter.com/DownloadYouT"
                               data-show-screen-name="false">
                            </a>
                            <div class="g-plusone" data-size="medium"></div>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                </div>

            </p>
        </section>
        <div class="menu-button nav-icon" id="open-button">
            <div></div>
        </div>

        @*Yordan*@
        @RenderBody()



        <div id="content">
            <section id="video" class="e-block light pt-section" data-name="@Resource.Video"></section>



            <footer>
                <div id="footer-wrapper" class="bg-color01 light">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Download YouTube</h4>
                                <div class="dividewhite2"></div>
                                <p>@Resource.SiteTitle</p>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>@Resource.Contacts</h4>
                                <div class="dividewhite2"></div>
                                <div class="contact">
                                    <div class="footer-addr">
                                        <a href="mailto:admin@download-youtube.org" target="_blank">admin@download-youtube.org</a>

                                    </div>
                                    <div class="footer-addr">

                                    </div>
                                </div>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>Language</h4>
                                <div class="dividewhite2"></div>
                                <ul id="basicuse" class="thumbs">
                                    <li>
                                        <a href="/">English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bg">
                                            Български
                                        </a>
                                    </li>
                                </ul>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>@Resource.FollowUs</h4>




                                <div class="follow dark">
                                    <div class="inline-block">
                                        <div class="fb-like"
                                             data-href="https://www.facebook.com/DownloadYouTubeOrg"
                                             data-colorscheme="light"
                                             data-layout="button_count"
                                             data-action="like"
                                             data-size="small"
                                             data-show-faces="false"
                                             data-share="true">
                                        </div>
                                    </div>
                                    <div class="inline-block">
                                        <a class="twitter-follow-button" style="vertical-align:bottom"
                                           href="https://twitter.com/DownloadYouT"
                                           data-show-screen-name="false">
                                        </a>
                                    </div>
                                    <div class="inline-block">
                                        <div class="g-plusone" data-size="medium"></div>
                                    </div>

                                </div>
                                <div class="dividewhite4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="copyrights-wrapper" class="e-block light bg-color01">
                    <div class="container text-center copy-container">
                        <div class="copyright">
                            © @DateTime.Now.Year
                            <a href="/" target="_blank">Download YouTube</a>. @Resource.AllRightsReserved &nbsp;&nbsp;&nbsp;
                            @*<a href="/" target="_blank">Legal Notice</a>&nbsp;&nbsp;&nbsp;
                                <a href="/" target="_blank">Terms &amp; Conditions</a>*@
                            <br>
                        </div>
                    </div>
                </div>
            </footer>
            <div id="back-top"><a href="#top"></a></div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    @RenderSection("scripts", false)

    <div id="image-cache" class="hidden"></div>

    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-nova.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.min.css" />
    <link rel="stylesheet" href="//bootswatch.com/yeti/bootstrap.min.css" />
    <link href="assets/vendor/fontawesome/css/font-awesome.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/flaticon/flaticon.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/settings.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/layers.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/navigation.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/mfp/css/magnific-popup.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/progresstracker/css/jquery.progresstracker.min.css" property='stylesheet' rel="stylesheet">
    <link href="~/assets/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/assets/vendor/pe-icon-7-stroke/css/helper.css" rel="stylesheet" />
    <link href="~/assets/vendor/audioplayer/css/audioplayer.css" rel="stylesheet" />
    <link href="assets/custom/css/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="assets/vendor/sticky/js/jquery.sticky.min.js"></script>
    <script type="text/javascript" src="assets/vendor/progresstracker/js/jquery.progresstracker.min.js"></script>

    <script src="~/assets/custom/js/jquery-multidownload.js"></script>

    <script type="text/javascript" src="assets/custom/js/script.js"></script>

    <script>
        window.___gcfg = {
            lang: '@Thread.CurrentThread.CurrentCulture.Name'
        };
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
