<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>
    <title>@Resource.SiteTitle</title>

    <link rel="alternate" href="http://download-youtube.org/bg" hreflang="bg" />
    <link rel="alternate" href="http://download-youtube.org" hreflang="en" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name="title" content="@Resource.SiteTitle">
    <meta name="description" content="@Resource.SiteDescription">   

    <meta name="keywords" content="download, youtube, audio, video, convert, HD, 4k, 8k, mp3, webm, mp4">

    <meta property="og:url" content="http://download-youtube.org@(("/"+Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName).Replace("/en", string.Empty))" />
    <meta property="og:title" content="@Resource.SiteTitle" />
    <meta property="og:description" content="@Resource.SiteDescription" />
    <meta property="og:image" content="http://download-youtube.org/assets/img/downloadyoutube.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="@Resource.SiteTitle" />
    <meta property="fb:admins" content="1039783075" /> 
    <meta property="fb:app_id" content="722393407941437" />

    @(Html.Raw(Html.GetOgMetaLocale()))

    <link rel="home" href="http://download-youtube.org@(("/"+Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName).Replace("/en", string.Empty))" />

    <link rel="canonical" href="http://download-youtube.org@(("/"+Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName).Replace("/en", string.Empty))" />
    <link rel=icon href=favicon.ico sizes="16x16" type="image/png">
    <link href="~/assets/custom/css/preloader.css" rel="stylesheet" />
    <script>
        (function (doc) { var addEvent = 'addEventListener', type = 'gesturestart', qsa = 'querySelectorAll', scales = [1, 1], meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : []; function fix() { meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1]; doc.removeEventListener(type, fix, true); } if ((meta = meta[meta.length - 1]) && addEvent in doc) { fix(); scales = [.25, 1.6]; doc[addEvent](type, fix, true); } }(document));
    </script>

    <!-- Facebook Pixel Code -->
    <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '697967597029717', {
em: 'insert_email_variable,'
});
fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=697967597029717&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

</head>
<body class="">
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/" + "@Thread.CurrentThread.CurrentCulture.Name.Replace("-", "_")" + "/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <div class="menu-wrap mobmenu-john" style="display:none">
        <div class="dividewhite4"></div>
        <nav class="menu">
            <ul class="icon-list">

                <li class="menu-item"><a href="#header-wrapper-mp"><i class="fa fa-fw fa-star-o"></i><span>Home</span></a></li>
                <li class="menu-item"><a href="#audio"><i class="fa fa-fw fa-bell-o"></i><span>Audio</span></a></li>
                <li class="menu-item"><a href="#video"><i class="fa fa-fw fa-bell-o"></i><span>Video</span></a></li>

            </ul>


        </nav>
        <div class="close-button nav-icon2" id="close-button">
            <div></div>
        </div>
    </div>

    <div class="content-wrap bg-color14">
        <section id="Home" class="pt-section" data-name="@Resource.Home">
            <div class="container">
                <div class="text-center color--youtube">
                    <h1 class="font-regular-bold hovercolor"><a href="/" target="_self" class="ahome">Download YouTube</a></h1>
                </div>
                <div class="text-center color--youtube">
                    <h2 class="font-regular-normal hovercolor">@Resource.SiteTitle.Replace(".", string.Empty)</h2>
                </div>
            </div>
        </section>
        <div id="Social" class="pt-section" data-name="@Resource.FollowUs">
            @*<h4 style="display:none">@Resource.FollowUs</h4>*@

            <div class="container">
                <div class="row">
                    @*<div class="col-sm-2"></div>*@
                    <div class="social-share col-sm-12 headerSocial">
                        <div class="fb-like"
                             data-href="https://www.facebook.com/DownloadYouTubeOrg"
                             data-colorscheme="light"
                             data-layout="button_count"
                             data-action="like"
                             data-size="small"
                             data-show-faces="false"
                             data-share="true">
                        </div>
                        <a class="twitter-follow-button"
                           style="vertical-align:bottom"
                           href="https://twitter.com/DownloadYouT"
                           data-show-screen-name="false">
                        </a>
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdownload-youtube.org"
                           data-show-screen-name="false">
                            Tweet
                        </a>
                        <div class="g-follow" data-size="medium" data-annotation="inline" data-width="200" data-href="https://plus.google.com/116818711365591733192" data-rel="author"></div>
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="200"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="menu-button nav-icon" id="open-button">
            <div></div>
        </div>

        @*Yordan*@
        @RenderBody()



        <div id="content">
            <section id="info" class="pt-section" data-name="@Resource.Info">
                <div class="container dark">
                    <div class="row features">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="feature">
                                <h3><i class="pe-7s-medal"></i>&nbsp; @Resource.SupportMultipleFormatsTitle</h3>
                                <p class="text-justify">@Resource.SupportMultipleFormatsDescription</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="feature">
                                <h3><i class="pe-7s-tools"></i>&nbsp; @Resource.WorksOnAllPlatformsTitle</h3>
                                <p class="text-justify">@Resource.WorksOnAllPlatformsDescription</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="feature">
                                <h3> <i class="pe-7s-cloud-upload"></i>&nbsp; @Resource.ExtractionInTheCloudTitle</h3>
                                <p class="text-justify">@Resource.ExtractionInTheCloudDescription</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <footer>
                <div id="footer-wrapper" class="bg-color01 light">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Download YouTube</h4>
                                <div class="dividewhite2"></div>
                                <p>@Resource.SiteTitle</p>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>@Resource.Contacts</h4>
                                <div class="dividewhite2"></div>
                                <div class="contact">
                                    <div class="footer-addr">
                                        <a href="mailto:admin@download-youtube.org" target="_blank">admin@download-youtube.org</a>
                                    </div>
                                    <div class="footer-addr">
                                    </div>
                                </div>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>@Resource.Language</h4>
                                <div class="dividewhite2"></div>
                                <ul id="basicuse" class="thumbs">
                                    <li>
                                        <a href="/" class="chooseLangugage">
                                            English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bg" class="chooseLangugage">
                                            Български
                                        </a>
                                    </li>
                                </ul>
                                <div class="dividewhite4"></div>
                            </div>
                            <div class="col-sm-3">
                                <h4>@Resource.FollowUs</h4>
                                <div class="follow dark">
                                    <div class="inline-block">
                                        <div class="fb-like"
                                             data-href="https://www.facebook.com/DownloadYouTubeOrg"
                                             data-colorscheme="light"
                                             data-layout="button_count"
                                             data-action="like"
                                             data-size="small"
                                             data-show-faces="false"
                                             data-share="true">
                                        </div>
                                    </div>
                                    <div class="inline-block">
                                        <a class="twitter-follow-button" style="vertical-align:bottom"
                                           href="https://twitter.com/DownloadYouT"
                                           data-show-screen-name="false">
                                        </a>
                                        <a class="twitter-share-button"
                                           href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdownload-youtube.org"
                                           data-show-screen-name="false">
                                            Tweet
                                        </a>
                                    </div>
                                    <div class="inline-block">
                                        <div class="g-follow" data-size="medium" data-href="https://plus.google.com/116818711365591733192" data-rel="author"></div>
                                        <div class="g-plusone" data-size="medium"></div>
                                    </div>

                                </div>
                                <div class="dividewhite4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="copyrights-wrapper" class="e-block light bg-color01">
                    <div class="container text-center copy-container">
                        <div class="copyright">
                            © @DateTime.Now.Year
                            <a href="/" target="_blank">Download YouTube</a>. @Resource.AllRightsReserved &nbsp;&nbsp;&nbsp;
                            @*<a href="/" target="_blank">Legal Notice</a>&nbsp;&nbsp;&nbsp;
                                <a href="/" target="_blank">Terms &amp; Conditions</a>*@
                            <br>
                        </div>
                    </div>
                </div>
            </footer>
            <div id="back-top"><a href="#top"></a></div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    @RenderSection("scripts", false)

    <div id="image-cache" class="hidden"></div>

    @*<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-nova.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.min.css" />*@
    @*<link rel="stylesheet" href="//bootswatch.com/yeti/bootstrap.min.css" />
    <link href="assets/vendor/fontawesome/css/font-awesome.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/fontawesome/css/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="assets/vendor/flaticon/flaticon.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/settings.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/layers.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/rs-plugin/css/navigation.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/mfp/css/magnific-popup.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/vendor/progresstracker/css/jquery.progresstracker.min.css" property='stylesheet' rel="stylesheet">
    <link href="assets/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="assets/vendor/pe-icon-7-stroke/css/helper.css" rel="stylesheet" />*@
    @*<link href="assets/vendor/audioplayer/css/audioplayer.css" rel="stylesheet" />*@
    @*<link href="assets/custom/css/animate.css" rel="stylesheet" />*@
    @*<link href="assets/custom/css/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen" />*@
    <link rel="stylesheet" href="//bootswatch.com/yeti/bootstrap.min.css" />
    <link href="@(WebUtils.Tag("/assets/bundle.css"))" rel="stylesheet" />
    @*<script type="text/javascript" src="assets/vendor/sticky/js/jquery.sticky.min.js"></script>
    <script type="text/javascript" src="assets/vendor/progresstracker/js/jquery.progresstracker.min.js"></script>
    <script src="scripts/pubnub-3.16.5.min.js"></script>
    <script type="text/javascript" src="assets/custom/js/script.js"></script>*@
    @*<script src="scripts/bundle.min.js"></script>*@
    <script src="@(WebUtils.Tag("/scripts/bundle.min.js"))"></script>
    <script>
        window.___gcfg = {
            lang: '@Thread.CurrentThread.CurrentCulture.Name'
        };
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @if (!Request.IsLocal)
    {        
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43988280-5', 'auto');
        ga('send', 'pageview');

    </script>
    }
</body>
</html>
